*{
    padding: 0;
    margin: 0;
    font-family: "Outfit", sans-serif;
}
body{
    background-color: hsl(216, 15%, 48%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: #fff;
    padding: 25px;
    width: 320px;
    border:  0px solid white;
    border-radius: 10px;

}
.box img{
    width: 200px;
    border-radius: 12px;

}
 h1{
    font-size: 20px;
    color: black;
}
.box p{
    font-size: 15px;


}
img{
    justify-content: center;
    align-items: center;
    margin: 50px;
    
    
}
h1 , h2{
    justify-content: space-between;
    margin: 10px;
    height: 300;
    padding: 10px;
}
p{
    font-size: 10px;
    opacity: .7;
    padding: 5px;
}
